<!doctype html>
<html ng-app="lolkaiser">
	<head>
		<!-- build:css css/app.css -->
		<link rel="stylesheet" href="../bower_components/nvd3/nv.d3.css">
		<!-- endbuild -->
	</head>
	<body ng-controller="MatchListCtrl">
		<form>
			<select ng-model="summoner.server" ng-options="server.id as server.name for server in config.servers">
			</select>
			<input ng-model="summoner.id" placeholder="Summoner ID"/>
			<button ng-click="loadClick()">Load</button>
			<button ng-click="updateClick()" ng-disabled="!summoner.isValid">Update</button>
		</form>
		<div ng-show="summoner.isValid">
			<div>
				<label ng-repeat="gametype in config.gametypes">
					<input type="checkbox" ng-model="selections.gametypes[$index].selected" /> {{gametype.name}}
				</label>
			</div>
			<select ng-model="selections.mapping" ng-options="mapping as mapping.name for mapping in config.mappings">
			</select>
			<nvd3-multi-bar-horizontal-chart
				ng-if="chart.type == 'horizontal-bar'"
				data="chart.data"
				showXAxis="true"
				showYAxis="true"
				interactive="true"
				tooltips="true"
				width="600"
				height="600">
				<svg></svg>
			</nvd3-multi-bar-horizontal-chart>
			<nvd3-stacked-area-chart
				ng-if="chart.type == 'stacked-area'"
				data="chart.data"
				showXAxis="true"
				showYAxis="true"
				showLegend="true"
				style="chart.style"
				interactive="true"
				width="600"
				height="600">
				<svg></svg>
			</nvd3-stacked-area-chart>
			<nvd3-line-chart
				ng-if="chart.type == 'line'"
				data="chart.data"
				showXAxis="true"
				showYAxis="true"
				showLegend="true"
				style="chart.style"
				interactive="true"
				tooltips="true"
				width="600"
				height="600">
				<svg></svg>
			</nvd3-stacked-area-chart>
		</div>

		<!-- build:js js/app.js -->
		<script src="../bower_components/lodash/dist/lodash.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/d3/d3.js"></script>
		<script src="../bower_components/nvd3/nv.d3.js"></script>
		<script src="../bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
		<script src="js/lolkaiser.js"></script>
		<script src="js/config.js"></script>
		<script src="js/matchhistory.js"></script>
		<script src="js/matchlistctrl.js"></script>
		<!-- endbuild -->
	</body>
</html>
